<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= form_for(:session, url: login_path) do |f| %>
        <%#= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "パスワード", class:"form-control" %>
        </div>
         <div class="form-group">
          <%= f.label :パスワードの確認 %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
        </div>


          <div class="form-check">
            <%= f.label :remember_me, class: "form-check-input" do %>
            <%= f.check_box :remember_me %>
            <span>情報を保存する</span>
          <% end %>
          </div>

        <div class="action text-center">
          <%= f.submit "ログインする", class:"btn text-centers" %>
        </div>
        <div class="link-action text-center">

          <p><%= link_to "会員登録はこちら", signup_path %></p>
          <%#= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
